body {
    background:#ffffff;
}

header {
    background: #ffffff;
    padding: 5px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa img {
    height: 130px;
    width: 160px;
}

nav {
    position: absolute;
    top: 60px;
    right: 0;
}

nav ul {
    display: flex;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

nav li {
    display: inline;
    margin: 0 50px 0 50px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}



.carousel-inner img {
    position: flex;
    width: 1300px;
    height: 550px;
    padding-left: 22%;
  }

footer {
    text-align: center;
    background: #ffffff;
    padding: 40px 0;
}

.copyright {
    color: #000000;
    font-size: 13px;
}